= form_for @calc do |f|
  - if @calc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calc.errors.count, "error")} prohibited this calc from being saved:"
      %ul
        - @calc.errors.full_messages.each do |message|
          %li= message

  .form-group.row
    = f.label :a, clas: '.col-sm-2.col-form-label'
    .col-sm-10
      = f.text_field :a, class: 'form-control'
  .form-group.row
    = f.label :b, clas: '.col-sm-2.col-form-label'
    .col-sm-10
      = f.text_field :b, class: 'form-control'
  .actions
    = f.submit 'Save',
