= form_for :calc do |f|

  .form-group
    = f.label :a
    = f.number_field :a, class: 'form-control calc-args', data: { opposite: '#calc_b' }
  .form-group
    = f.label :b
    = f.number_field :b, class: 'form-control calc-args', data: { opposite: '#calc_a' }
  .form-group
    = f.label :result
    = f.text_area :result, class: 'form-control', id: 'result', disabled: 'disabled'

.actions
  = link_to '+ Sum', '#', class: 'btn btn-secondary btn-disabled', data: { operator: '+' }
  = link_to '- Difference', '#', class: 'btn btn-secondary btn-disabled', data: { operator: '-' }
  = link_to '* Multiplication', '#', class: 'btn btn-secondary btn-disabled', data: { operator: '*' }
  = link_to '/ Division', '#', class: 'btn btn-secondary btn-disabled', data: { operator: '/' }
