= form_for :calc do |f|

  .form-group
    = f.label :a
    = f.text_field :a, class: 'form-control'
  .form-group
    = f.label :b
    = f.text_field :b, class: 'form-control'
  .form-group
    = f.label :result
    = f.text_area :result, class: 'form-control', id: 'result'

.actions
  = link_to '+ Sum', '#', class: 'btn btn-secondary', data: { action: '+' }
  = link_to '- Difference', '#', class: 'btn btn-secondary', data: { action: '-' }
  = link_to '* Multiplication', '#', class: 'btn btn-secondary', data: { action: '*' }
  = link_to '/ Division', '#', class: 'btn btn-secondary', data: { action: '/' }
